<div class="container mt-4">
  <h1 class="mb-4">Mensajes</h1>

  <% if can? :create, Message %>
    <%= link_to "Add new message", new_message_path, class: "btn btn-warning mb-3" %>
  <% end %>

  <% if @messages.any? %>
    <table class="table table-striped table-hover shadow-sm">
      <thead class="table-success">
        <tr>
          <th>Chat con</th>
          <th>Autor</th>
          <th>Contenido</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |msg| %>
          <tr>
            <td><%= msg.chat.other_participant(current_user).full_name %></td>
            <td><%= msg.user.full_name %></td>
            <td><%= msg.body %></td>
            <td>
              <%= link_to "Ver", message_path(msg), class: "btn btn-sm btn-primary me-1" %>
              <% if can?(:edit, msg) %>
                <%= link_to "Editar", edit_message_path(msg), class: "btn btn-sm btn-secondary me-1" %>
              <% end %>
              <% if can?(:destroy, msg) %>
                <%= link_to "Eliminar", message_path(msg), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info">No hay mensajes disponibles.</div>
  <% end %>
</div>
