<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h3>Message Details</h3>
    </div>
    <div class="card-body">
      <p><strong>Chat ID:</strong> <%= @message.chat_id %></p>
      <p><strong>User ID:</strong> <%= @message.user_id %></p>
      <p><strong>Body:</strong> <%= @message.body %></p>
    </div>
    <div class="card-footer">
      <%= link_to "Back", messages_path, class: "btn btn-outline-success" %>
      <%= link_to "Editar", edit_message_path(@message), class: "btn btn-info ms-2" %>

    </div>
  </div>
</div>
