<div class="container mt-4">
  <h2>Start a New Chat</h2>

  <%= form_with model: @chat, local: true do |form| %>
    <% if @chat.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @chat.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :receiver_id, "Select recipient", class: "form-label" %>
      <%= form.select :receiver_id,
            User.where.not(id: current_user.id).map { |u| [u.full_name, u.id] },
            {},
            class: "form-select", required: true %>
    </div>

    <%= form.submit "Create Chat", class: "btn btn-success" %>
  <% end %>
</div>
